body {
  /* background: url("/static/admin/img/construct.jpg")!important; */
  /* background-color: aqua; */
  /* background: url("/construction/static/media/construct.jpg") no-repeat fixed center; */
  background-image: url('{% static "construct.jpg" %}')!important;
}

.background {
  background-image: url('{% static "construct.jpg" %}')!important;
}
.dropdown:hover >.dropdown-menu{
  display: block !important;
}
.dropdown-submenu:hover > .dropdown-menu{
  display: block !important;
    left: 100%;
    margin-top: -37px;
}

.dropdown-item{
  font-size: small; /* 13px */
}
.dropdown-toggle::after{
  font-size: var(--font-md);
  margin-bottom: -2px;
}
.dropdown-menu li a.active{
  color:#fff;
}

.custom-toggle-arrow{
      font-size: 18px;
      margin-top: 1px;
      line-height: 12px;
}

.about, .com p, .prod-content {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
  /* margin-right: 2vh; */
}

.title, .lg {
  text-indent: 0rem!important;
}

.content {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}

.navbar-brand, .nav-text {
  color: white!important;
}

.carousel-item img {
  width:640px;
  height:360px;
}