{% extends "extension/template.html" %}
{% load static %}
{% block content %}

    <div class="card text-bg-light mx-5 my-5">
        <h2 class="text-center mt-3">Completed Projects</h2>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>One Metropolitan Place</h3>
                        <small><em>(Malibay Street Pasay City)</em></small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>   5 Storey Condominium Building</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    Architectural Works & MEFP's</p>
                            </div>
                        </div>
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/omp1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/omp2.png' %}" class="d-block w-100" alt="..." style="width: 100%;">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/omp3.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3> San Jose Residences </h3>
                        <em>(Sta. Rosa, Laguna)</em>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>   5 Storey Condominium Building</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    Architectural Works & MEFP's</p>
                            </div>
                        </div>
                        <div id="carouselSanJoseResidences" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/sjr1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sjr2.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>The North Groove</h3>
                        <em>(Zabarte Street, Novaliches,  Quezon City)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong> 5 Storey Condominium Building</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong> MECHANICAL, ELECTRICAL, PLUMBING AND SANITARY</p>
                            </div>
                        </div>
                        <div id="carouselTheNorthGroove" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselTheNorthGroove" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/tng1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTheNorthGroove" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselTheNorthGroove" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>Sister of Somasca</h3>
                        <em>(San Pedro, Laguna)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong> 3 Storey Pre-School and Elementary Building</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong> ELECTRICAL AND ENTRANCE SERVICES</p>
                            </div>
                        </div>
                        <div id="carouseLSisterOfSomasca" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouseLSisterOfSomasca" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/sos1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouseLSisterOfSomasca" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouseLSisterOfSomasca" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>Casili Pumping Station</h3>
                        <em>(Casili, Consolacion, Cebu City)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <p><strong>Projects:  </strong>Pumping Station</p>
                            </div>
                            <div class="col">
                                <p><strong>Scope of Works:  </strong>CIVIL, STRUCTURAL, ARCHITECTURAL, ELECRO-MECH AND PIPE-LAYING WORKS</p>
                            </div>
                        </div>
                    </div>
                    <div id="carouselCasiliPumpingStation" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselCasiliPumpingStation" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/cps1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCasiliPumpingStation" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselCasiliPumpingStation" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        </div>
            </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>RPWSIP Package 2 Phase 4</h3>
                        <em>(Jalajala, Rizal)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <p><strong>Projects:  </strong>Pipe Laying and Bridge Crossing</p>
                            </div>
                            <div class="col">
                                <p><strong>Scope of Works:  </strong>CIVIL, AUTOMATION AND PIPE-LAYING WORKS</p>
                            </div>
                        </div>
                    </div>
                    <div id="carouselRPWSIPphase2" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselRPWSIPphase2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselRPWSIPphase2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselRPWSIPphase2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                            <img src="{% static 'media/rp2p4.png' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'media/rp2p42.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'media/rp2p43.jpg' %}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselRPWSIPphase2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselRPWSIPphase2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
        </div>
        
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>RRWSIP Package 2 Phase 4</h3>
                        <small><em>Jalajala, Rizal</em></small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong> Concrete Pavement</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    CIVIL WORKS</p>
                            </div>
                        </div>
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/rp2p42.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/rp2p43.jpg' %}" class="d-block w-100" alt="..."">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3> Manila Water Pumping Station </h3>
                        <em>Kingsville,PS MARCOS hi-way</em>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>   HDD Drilling Project Emergency Works</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    TRENCHLESS PIPING WORKS FOR FLOW METER & RACEWAYS AND WIRING INSTALLATION OF RG6U TO
                                    TRANSMITTER.</p>
                            </div>
                        </div>
                        <div id="carouselSanJoseResidences" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/mwps1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3> Manila Water Sewage Treatment Plant</h3>
                        <small><em>Diliman,Quezon City</em></small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>    5mld UPSTP Expansion</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    STUCTURAL AND CIVIL WORKS</p>
                            </div>
                        </div>
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/mwstp1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3> Replacement of Main Ring Pipe Line </h3>
                        <em>MANILA INTERNATIONAL AIRPORT AUTHORITY</em>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>  HDPE Pipe laying for the Supply of Fire System </p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>   PIPE LAYING AND RESTORATION WORKS</p>
                            </div>
                        </div>
                        <div id="carouselSanJoseResidences" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/rmppl1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>Installation of 1-1000KVA Standby Generator Set</h3>
                        <small><em> MANILA INTERNATIONAL AIRPORT AUTHORITY</em></small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>   Generator and ATS Installation for Standby Power</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    INSTALLATION OF GENSET, ATS AND WIRINGS</p>
                            </div>
                        </div>
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/isgs1.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/isgs2.jpg' %}" class="d-block w-100" alt="..." style="width: 100%;">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/isgs3.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3> Upgrading Defective Uninterruptible Power Supply (UPS) to 2x300KVA Static Type UPS
                            </h3>
                        <em>MANILA INTERNATIONAL AIRPORT AUTHORITY</em>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>  Upgrading Defective UPS</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    INSTALLATION OF STATIC TYPE UPS, TRANSFORMERS AND ELECTRICAL WIRINGS</p>
                            </div>
                        </div>
                        <div id="carouselSanJoseResidences" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/udup1.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/udup2.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/udup3.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/udup4.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3> Replacement of Substation 1 & 2 Secondary Power Cable from 26.6MVA Transformer to HT Switchgear</h3>
                        <small><em> MANILA INTERNATIONAL AIRPORT AUTHORITY</em></small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>   Replacement of Secondary Cables</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>   DISMANTLING AND INSTALLATION OF XLPE CABLES</p>
                            </div>
                        </div>
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/rss2.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/rss3.jpg' %}" class="d-block w-100" alt="..." style="width: 100%;">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/rss4.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>  Foster Foods Bulacan / Cagayan De Oro Refrigeration system </h3>
                        <em> Bulacan & Cagayan De Oro City </em>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>   5 Storey Condominium Building</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>     P.U PANEL INSTALLATION AND REFRIGERATION SYSTEM INSTALLATION</p>
                            </div>
                        </div>
                        <div id="carouselSanJoseResidences" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/ffb1.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/ffb2.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/ffb4.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/ffb5.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3> REHABILITATION OF ONE (1) FILTER BED UNDERDRAINS</h3>
                        <small><em>  BALARA TREATMENT PLANT 2, QUEZON CITY</em></small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>    Civil, Structural and Piping Works</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>   CONCRETE POURING OF SLAB, TANK LINING AND INSTALLATION OF FILTER BLOCKS & SS316 PIPES</p>
                            </div>
                        </div>
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/roofb1.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/roofb2.jpg' %}" class="d-block w-100" alt="..." style="width: 100%;">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/roofb3.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>   Valenzuela STP Project (1200NB HDPE Pipe Installation Works Completer) </h3>
                        <em>  Maynilad STP, Marulas, Valenzuela City</em>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>    HDPE Pipe laying</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    PIPE LAYING OF 1200NB HDPE PIPE</p>
                            </div>
                        </div>
                        <div id="carouselSanJoseResidences" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/vsp1.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/vsp2.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>  Design and Build of 18-Storey Clark Air Traffic Control Tower </h3>
                        <small><em> Clark International Airport, Pampanga</em></small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>    Design and Build</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    DESIGN OF AIR TRAFFIC CONTROL TOWER MEPFS</p>
                            </div>
                        </div>
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/dbsc1.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/dbsc2.png' %}" class="d-block w-100" alt="..." style="width: 100%;">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/dbsc3.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-3 my-3">
                    <div class="card-header text-center">
                        <h3>   Laguna Lake Water Treatment Plant </h3>
                        <em>  Brgy. Sto. Nino Tunasan Muntinlupa City </em>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <p><strong>Projects:  </strong>    Mechanical and Piping</p>
                            </div>
                            <div class="col text-center">
                                <p><strong>Scope of Works:  </strong>    Fabrication of Stainless steel pipes & Fittings, Mechanical & piping installation of RO / UF</p>
                            </div>
                        </div>
                        <div id="carouselSanJoseResidences" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/ffb1.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/ffb2.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/ffb4.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/ffb5.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block"></div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselSanJoseResidences" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        
    </div>

{% endblock %}