{%extends "extension/template.html"%}
{%load static%}
{%block content%}
<main class="background">
   <div class="container-fluid">
        <div class="container mt-5 text-center">
          <h1>Javery Construction Company</h1>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-md-10 about">
                  <div class="content">
                      <p class="text-justify">
                          <p><em><strong> Javery Constructions Corporation</strong>  is a team composed of engineers, architects, 
                            consultants, planners and workers. The firm was organized recently as a new company but 
                            its team has been working together since 2004 under a different company name. With its 
                            team’s vast experience in construction, the company is working on upgrading its 
                            competitiveness by keeping up with the latest technology through continues study, product 
                            information and seminars
                          </em></p>
                          <p><em>
                              The technical members of the company have been working together for the past years on different projects in the
                              private and government entities. Thus, the firm can be considered as having a good track record, although it was 
                              just recently organized as a new company, because of the good feedback from the owners, which they have served. 
                              At JAVERY Constructions, our top strategic initiative is to maximize and to preserve organizational <strong> Teamwork</strong>, 
                              which is often a critical ingredient in every successful engagement.
                          </em></p>
                      </p>
                  </div>
                  <div class="content">
                    <div class="row">
                     <div class="col-6 about">
                        <h4 class="text-center">Company Mission</h4>
                          <p>
                              <em>
                                  We aim to maintain leadership in the field of <strong> Architectural, Civil,  Structural, FDAS, Electrical, Mechanical 
                                  and Water Proofing Works</strong> in the Philippines, by providing our clients high quality products and services through 
                                  continuous Enhancing our technology and processes and hone the skills of our employees to competently achiever not 
                                  only our mission but your mission as well.
                              </em>
                          </p>
                      </div>
                      <div class="col-6 about">
                        <h4 class="text-center">Company Vision</h4>
                          <p>
                              <em>
                                  We aim to improve the welfare of our country and our countrymen by creating job opportunities. We aspire to expand 
                                  our local recognition in world class <strong>Civil, Architectural, Structural, FDAS, Electrical, Mechanical and Water Proofing 
                                  Works. </strong>As we gear towards local and foreign market; we achieve our dreams of shoring up the country’s local ventures in 
                                  all of our products.
                              </em>
                          </p>
                      </div>
                    </div>
                  </div>
                  <div class="content">
                      <h3 class="title">Health and Safety Program</h3>
                      <p>
                          <em>
                            Occupational safety and health is a matter of great concern to the company, but it is ever greater concern to the employees, for the reason, javery constructions services believed that the project employee should share in the work of accident prevention. 
                            Attitudes have much to do with the employee’s safety performance. Attitude grows and like that grows, they flourish best thru continues safety training and monitoring. 
                            With this javery constructions comes up with the program to establish a culture of occupational health and safety among our project employees to support our customers zero accident program. 
                            Our goal is to develop an environment, safety and health culture not only in the work place but also in our own household.

                          </em>
                      </p>
                  </div>
                  <div class="content">
                    <h3 class="title">Company Objective and Philosophy</h3>
                    <ul class="list-group list-group-numbered">
                      <li class="list-group-item">
                        To continue to succeed by providing sound engineering with creative approach at all 
                        levels for the provision of a high quality of professional service, on time and within 
                        the budget.
                      </li>
                      <li class="list-group-item">
                        To establish a close working relationship with client so that their needs and 
                        requirements are fully understood and quickly fulfilled.
                      </li>
                    </ul>
                </div>
                <div class="content">
                  <h3 class="title">Key of Duties and Responsibility</h3>
                  <p>
                    <ul class="list-group lg">
                      <li class="list-group-item">
                        TO PLAN AND ORGANIZE ITS MARKETING STRATEGIES.
                      </li>
                      <li class="list-group-item">
                        All accident should have and proper documents and conducted proper investigation. 
                      </li>
                      <li class="list-group-item">
                        TO PREPARE WORK SCHEDULES BEFORE THE BEGINNING OF THE ACTUAL CONTRACTS AND UPDATE THESE SCHEDULES DURING ACTUAL WORK PROGRESS.
                      </li>
                      <li class="list-group-item">
                        TO COORDINATE INTERFACES OF WORK AMONG DESIGNERS, ARCHITECTS, CONTRACTORS AND OWNERS
                      </li>
                      <li class="list-group-item">
                        TO COMMUNICATE WITH THE PROJECT ENGINEERS AND CLIENTS/CUSTOMER AND MAINTAIN CORDIAL RELATION WITH ALL CO-WORKERS AT THE SITE.
                      </li>
                      <li class="list-group-item">
                        TO PREPARE NECESSARY MATERIALS AS NEEDED FOR PROPER STOCK LEND OF MATERIALS AS REQUIRED.
                      </li>
                      <li class="list-group-item">
                        TO PREPARE FORECAST OF ACCOMPLISHMENTS AND RESOURCE EXPENDITURES AS A GUIDE FOR MONITORING PROGRESS AGAINST SCHEDULES AND BUDGETS
                      </li>
                      <li class="list-group-item">
                        TO PREPARE PERIODIC PROGRESS BILLING.
                      </li>
                      <li class="list-group-item">
                        TO SUPERVISE AND CHECK THE SCOPE OF WORK AS IT IS BEING EXECUTED TO CORRECT ANY OPERATION ERRORS.
                      </li>
                    </ul>
                  </p>
              </div>
                  <div class="content">
                      <h3 class="title">Incident / Accident Invetigation</h3>
                      <p>
                          <em>
                            All accident has both indirect and direct causes. They may associate with unsafe working practices, inadequate supervision and training human error, poor machinery specification and other causes. 
                          </em>
                              <ul class="list-group lg">
                                <li class="list-group-item">
                                  If accident, emergency situation shall be reported directly to the project safety supervisor within 24 hours. 
                                </li>
                                <li class="list-group-item">
                                  All accident should have and proper documents and conducted proper investigation. 
                                </li>
                                <li class="list-group-item">
                                  Fatality, death at site premises should be reported to safety manager within 3 days after occurrence of incident. 
                                </li>
                                <li class="list-group-item">
                                  All accident shall report every 20th of the two BWC Dole. 
                                </li>
                                <li class="list-group-item">
                                  All accident shall be recorded and documented.
                                </li>
                                <li class="list-group-item">
                                  Findings shall be corrected there after immediately. 
                                </li>
                                <li class="list-group-item">
                                  In the event of less serious injury or potential life threatening dangerous occurrence, work stoppage in the area involved until imminent danger vanish. Protection of the general public within the vicinity of the construction: 
                                </li>
                                <li class="list-group-item">
                                  Place barricades and warning signs. 
                                </li>
                                <li class="list-group-item">
                                  Detail watchman and security to warn the public 
                                </li>
                                <li class="list-group-item">
                                  Adequate lighting must be provided to assure safety warning 
                                </li>
                                <li class="list-group-item">
                                  Install warning sign and caution tapes signage’s at cistern tank. 
                                  Environmental control and protection: 
                                </li>
                                <li class="list-group-item">
                                  Provision of waste disposal and garbage vain 
                                </li>
                                <li class="list-group-item">
                                  Disposal of excess materials water proofing. 
                                </li>
                                <li class="list-group-item">
                                  Disposal of chemical and empty pails 
                                </li>
                              </ul>
                      </p>
                  </div>
                  <div class="content">
                    <h3 class="title">Personal Protective Equipment:</h3>
                    <p><em>All workers shall require wearing personal protective equipment at all times. Safety head shall
                      ensure that all workers and staff under his supervision are trained in the proper usages. Safety staff
                        shall not allow or permit workers and staff to work with out or unless required safety equipment is 
                        used and worn properly. </em></p>
                        <ul class="list-group list-group-flush lg">
                          <li class="list-group-item"><strong> Eye and Face Protection</strong> – prevent from entering foreign body into eye, prevent also in major eye injuries.</li>
                          <li class="list-group-item"><strong>Safety Glasses </strong> 	 – shield against frontal impact from hazard like flying object.  </li>
                          <li class="list-group-item"><strong> Goggles</strong> – eye protection from foreign body </li>
                          <li class="list-group-item"><strong>Safety shoes </strong>  – are design to protect for extremely hazardous, protect against water,chemical,nailed,oil and grease </li>
                          <li class="list-group-item"><strong>Hardhat </strong> – protect from head falling materials.</li>
                          <li class="list-group-item">All other personnal protective equipment that is need on the project site based on particular job assignment.</li>
                        </ul>
                  </div>
              </div>
              <div class="col-md-2 my-5">
                <div class="card">
                  <div class="card-body">
                    <h5>Services</h5>
                  <ul>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Mechanical</a></li>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Electrical</a></li>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Plumbing</a></li>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Fire Protections</a></li>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Sanitary Works</a></li>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Civil</a></li>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Structural</a></li>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Instrumentation</a></li>
                      <li class="my-3" ><a class="text-decoration-none" href="{% url 'products' %}">Automation</a></li>
                  </ul>
                  </div>
                </div>
                  
                
              </div>
          </div>
        </div>
   </div>
</main>
<div class="background py-3 text-bg-light">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-1"></div>
    <div class="col-4 my-auto">
      <p class="text-center"><strong>Address: <br></strong> Block 12 Lot 30-31 Villa 6, Dulong Bayan II, San Mateo, Rizal</p>
      <p class="text-center "><strong>Emails: <br></strong> <a href="mailto:javeryconstructions@gmail.com" class="text-decoration-none">javeryconstructions@gmail.com</a>  | <a href="mailto:javerycorp2022@gmail.com" class="text-decoration-none">  javerycorp2022@gmail.com</a> </p>
      <p class="text-center"><strong>Number:  <br></strong> <a href="tel:09951570975" class="text-decoration-none"> 0995-157-0975 </a>(Viber & Whatsapp)</p>

    </div>
    <div class="col-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d964.8255875287601!2d121.13128093517257!3d14.69548619730828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397bbb7a7b45fcf%3A0xe7d735e8f5b80a39!2sVilla%20San%20Mateo%206%20%26%207!5e0!3m2!1sen!2sph!4v1676342505195!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>
  </div>
</div>
{%endblock%}