{% extends "extension/template.html" %}
{% load static %}
{% block content %}
    <div class="card bg-light text-center mx-5 my-5">
        <h2 class="text-center mt-3">PENDING PROJECTS</h2>
        <div class="row">
            <div class="col">
                <div class="card my-3 mx-3">
                    <div class="card-header text-center">
                        <h3>RPWSIP Package 2 Phase 4</h3>
                        <em>(Jalajala, Rizal)</em>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p><strong>Projects:   </strong>Concrete Pavements</p>
                            </div>
                            <div class="col">
                                <p><strong>Scope of Works:  </strong>CIVIL WORKS</p>
                            </div>
                        </div>
                        <div id="carouseLRWSIPphase4" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouseLRWSIPphase4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouseLRWSIPphase4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouseLRWSIPphase4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouseLRWSIPphase4" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouseLRWSIPphase4" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card my-3 mx-3">
                    <div class="card-header text-center">
                        <h3>Manila Water Pumping Station</h3>
                        <em>(Kingsville, PS Marcos Hi-Way)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <p><strong>Projects:   </strong>HDD Drilling Project Emergency Works</p>
                            </div>
                            <div class="col">
                                <p><strong>Scope of Works:  </strong>TRENCHLESS PIPING WORKS FOR FLOW METER RACEWAYS AND WRITING
                                INSTALLATION OF RG6U TO TRANSMITTER</p>
                            </div>
                        </div>
                        <div id="carouselManilaWater" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselManilaWater" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselManilaWater" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselManilaWater" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselManilaWater" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselManilaWater" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card my-3 mx-3">
                    <div class="card-header text-center">
                        <h3>Manila Water Sewage Treatment Plant</h3>
                        <em>(Diliman, Quezon City)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <p><strong>Projects:   </strong>5mld UPSTP Expansion</p>
                            </div>
                            <div class="col">
                                <p><strong>Scope of Works:  </strong>STRUCTURAL AND CIVIL WORKS</p>
                            </div>
                        </div>
                        <div id="carouselManilaWaterSewage" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselManilaWaterSewage" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselManilaWaterSewage" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselManilaWaterSewage" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselManilaWaterSewage" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselManilaWaterSewage" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card my-3 mx-3">
                    <div class="card-header text-center">
                        <h3>Replacement of Main Ring Pipe Line</h3>
                        <em>(MANILA INTERNATIONAL AIRPORT AUTHORITY)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <p><strong>Projects:   </strong>HDPE Pipe laying for the Supply of Fire System</p>
                            </div>
                            <div class="col">
                                <p><strong>Scope of Works:  </strong>PIPE LAYING AND RESTORATION WORKS</p>
                            </div>
                        </div>
                        <div id="carouselReplacementOfMainRing" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselReplacementOfMainRing" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselReplacementOfMainRing" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselReplacementOfMainRing" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselReplacementOfMainRing" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselReplacementOfMainRing" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card my-3 mx-3">
                    <div class="card-header text-center">
                        <h3>Installation of 1-1000KVA Standby Generator Set</h3>
                        <em>(MANILA INTERNATIONAL AIRPORT AUTHORITY)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <p><strong>Projects:   </strong>Generator and ATS Installation for Standby Power</p>
                            </div>
                            <div class="col">
                                <p><strong>Scope of Works:  </strong>INSTALLATION OF GENSET, ATS AND WIRINGS</p>
                            </div>
                        </div>
                        <div id="carouselStandbyGeneratorSet" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselStandbyGeneratorSet" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselStandbyGeneratorSet" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselStandbyGeneratorSet" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselStandbyGeneratorSet" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselStandbyGeneratorSet" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card my-3 mx-3">
                    <div class="card-header text-center">
                        <h3>Upgrading Defective Uninterruptible Power Supply (UPS) to 2x300KVA Static Type UPS</h3>
                        <em>(MANILA INTERNATIONAL AIRPORT AUTHORITY)</em>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <p><strong>Projects:   </strong>Upgrade Defective UPS</p>
                            </div>
                            <div class="col">
                                <p><strong>Scope of Works:  </strong>INSTALLATION OF STATIC TYPE UPS, TRANSFORMERS AND ELECTRICAL WIRINGS</p>
                            </div>
                        </div>
                        <div id="carouselUPS" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselUPS" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselUPS" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselUPS" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{% static 'media/sap.png' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselUPS" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselUPS" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}