{% extends "extension/template.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <h2 class="text-center my-5">Company Personnel</h2>

        <div class="container">
          <div class="col-4 mx-auto">
            <div class="card my-3 text-center">
              <div class="card-body">
                <h5>Angel Cruz Jr.</h5>
                <small><em> General Manager</em></small>
              </div>
            </div>
            <div class="card my-3 text-center">
              <div class="card-body">
                <h5>Engr. Michael Miraflor, RME</h5>
                <small><em> Operations Manager</em></small>
              </div>
            </div>
            <div class="card my-3 text-center">
              <div class="card-body">
                <h5>Jennifer Arboleda</h5>
                <small><em> Procurement Manager</em></small>
              </div>
            </div>
            <div class="card my-3 text-center">
              <div class="card-body">
                <h5>Frinz Ebby Paez</h5>
                <small><em> Business Development Head</em></small>
              </div>
            </div>
            <div class="card my-3 text-center">
              <div class="card-body">
                <h5>Edgar Adovas</h5>
                <small><em> Safety Manager</em></small>
              </div>
            </div>
            <div class="card my-3 text-center">
              <div class="card-body">
                <h5>Arch. Reynaldo Cruz</h5>
                <small><em>Consultant</em></small>
              </div>
            </div>
            <div class="card my-3 text-center">
              <div class="card-body">
                <h5>Engr. Denis Cariaga, REE</h5>
                <small><em>Engineering Head</em></small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 my-3 text-center">
              <div class="card">
                <div class="card-body">
                  <h5>Engr. Kennedy Vasquez, RME</h5>
                  <small><em>Supervisor</em></small>
                </div>
              </div>
            </div>
            <div class="col-4 my-3 text-center">
              <div class="card">
                <div class="card-body">
                  <h5>Cloyd Cruz, ECE</h5>
                  <small><em>Supervisor</em></small>
                </div>
              </div>
            </div>
            <div class="col-4 my-3 text-center">
              <div class="card">
                <div class="card-body">
                  <h5>Engr. Rey Santos, RCE</h5>
                  <small><em>Supervisor</em></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 mx-auto">
            <div class="card my-3 text-center">
              <div class="card-body">
                <h5>Jhon Joshua Sayaman</h5>
                <small><em>General Foreman</em></small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 my-3 text-center">
              <div class="card">
                <div class="card-body">
                  <h5>Rodel Luriban</h5>
                  <small><em>Foremen (CIVIL & STRUCTURAL)</em></small>
                </div>
              </div>
            </div>
            <div class="col-4 my-3 text-center">
              <div class="card">
                <div class="card-body">
                  <h5>Francis Rivera</h5>
                  <small><em>Foremen (ELECTRICAL)</em></small>
                </div>
              </div>
            </div>
            <div class="col-4 my-3 text-center">
              <div class="card">
                <div class="card-body">
                  <h5>Dindo Javier</h5>
                  <small><em>Foremen (MECHANICAL)</em></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}