{% extends "extension/template.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <h2 class="text-center my-5">Company Personnel</h2>

        <div class="container">
          <div class="col-4 mx-auto">
            <div class="card my-4 text-center">
                <div class="card-header text-bg-primary bg-gradient"></div>
                <div class="card-body">
                <h5>Angel Cruz Jr.</h5>
                <small><em> General Manager</em></small>
              </div>
            </div>
            <div class="card my-4 text-center">
                <div class="card-header text-bg-success bg-gradient"></div>
                <div class="card-body">
                <h5>Engr. Michael Miraflor, RME</h5>
                <small><em> Operations Manager</em></small>
              </div>
            </div>
            <div class="card my-4 text-center">
                <div class="card-header text-bg-success bg-gradient"></div>
                <div class="card-body">
                <h5>Edgar Adovas</h5>
                <small><em> Safety Manager</em></small>
              </div>
            </div>
            <div class="card my-4 text-center">
                <div class="card-header text-bg-success bg-gradient"></div>
                <div class="card-body">
                <h5>Arch. Reynaldo Cruz</h5>
                <small><em>Consultant</em></small>
              </div>
            </div>
            <div class="card my-4 text-center">
                <div class="card-header text-bg-success bg-gradient"></div>
                <div class="card-body">
                <h5>Engr. Denis Cariaga, REE</h5>
                <small><em>Engineering Head</em></small>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-4 my-4 text-center">
                <div class="card">
                <div class="card-header text-bg-danger bg-gradient"></div>
                <div class="card-body">
                    <h5>Engr. Kennedy Vasquez, RME</h5>
                    <small><em>Supervisor</em></small>
                  </div>
                </div>
              </div>
              <div class="col-4 my-4 text-center">
                <div class="card">
                <div class="card-header text-bg-danger bg-gradient"></div>
                <div class="card-body">
                    <h5>Cloyd Cruz, ECE</h5>
                    <small><em>Supervisor</em></small>
                  </div>
                </div>
              </div>
              <div class="col-4 my-4 text-center">
                <div class="card">
                <div class="card-header text-bg-danger bg-gradient"></div>
                <div class="card-body">
                    <h5>Engr. Rey Santos, RCE</h5>
                    <small><em>Supervisor</em></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 mx-auto">
              <div class="card my-4 text-center">
                <div class="card-header text-bg-warning bg-gradient"></div>
                <div class="card-body">
                  <h5>Willie Relevo</h5>
                  <small><em>General Foreman</em></small>
                </div>
              </div>
            </div>
            
          
          <div class="row">
            <div class="col-4 my-4 text-center">
              <div class="card">
                <div class="card-header text-bg-dark bg-gradient"></div>
                <div class="card-body">
                  <h5>Victor Datinguinoo</h5>
                  <small><em>Foremen (CIVIL & STRUCTURAL)</em></small>
                </div>
              </div>
            </div>
            <div class="col-4 my-4 text-center">
              <div class="card">
                <div class="card-header text-bg-dark bg-gradient"></div>
                <div class="card-body">
                  <h5>Francis Rivera</h5>
                  <small><em>Foremen (ELECTRICAL)</em></small>
                </div>
              </div>
            </div>
            <div class="col-4 my-4 text-center">
              <div class="card">
                <div class="card-header text-bg-dark bg-gradient"></div>
                <div class="card-body">
                  <h5>Dindo Javier</h5>
                  <small><em>Foremen (MPFS)</em></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}