{% extends "extension/template.html" %}
{% load static %}
{% block content %}
    <div class="container">
            <div class="card-body text-center">
                <h2 class="my-4"><em>Products and Services</em></h2>
                <p class="prod-content"><strong><em> Javery Constructions Corporation</em></strong> prides 
                    itself on being a leader in both process and technology, our products are systematically 
                    pleasing, competitive in cost, has architectural, civil, structural, meps, electro-mechanical.
                     Our employees are well skilled and competent, are suitable in every construction projects 
                     such as building, industrial plants, offices, pipelaying, road works and warehouses establishment.
                      Is product are well categorized by its function.</p>
                <div class="row my-5">
                    <div class="col-6 text-center">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Mechanical</li>
                                    <li class="list-group-item">Electrical</li>
                                    <li class="list-group-item">Plumbing</li>
                                    <li class="list-group-item">Fire Protections</li>
                                    <li class="list-group-item">Sanitary Works</li>
                                    <li class="list-group-item">Civil</li>
                                    <li class="list-group-item">Structural</li>
                                    <li class="list-group-item">Instrumentation</li>
                                    <li class="list-group-item">Automation</li>
                                    <li class="list-group-item">Water Treatment and Sewage Treatment System</li>
                                    <li class="list-group-item">Pipe Laying</li>
                                </ul>
                                <ul>
                                    
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Project Implementation in the form of Site Development, Housing, Flood Control, Roads, Medium and High Rise Buildings;</li>
                                    <li class="list-group-item">Survey, structural works, form works, civil works.</li>
                                    <li class="list-group-item">Preparation of Architectural and Engineering Designs.</li>
                                    <li class="list-group-item">Estimates, Contract Documentation and Bid Evaluation.</li>
                                    <li class="list-group-item">Design and Build MEPF</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}